/references
/data
*.synctex.gz
*.DS_Store
**/__marimo__/cache/
*/results/fits
*/results/glm_cache
*/results

*__pycache__/
*indre-notebook
code/nuo task/*
!code/nuo task/lecilab-behavior-analysis-main/
code/nuo task/lecilab-behavior-analysis-main/*
!code/nuo task/lecilab-behavior-analysis-main/preprocessing.py